* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

html,
body {
  background-image: url(/images/bg-pattern-top-desktop.svg);
  background-image: url(/images/bg-pattern-bottom-desktop.svg);
  font-size: 15px;
  padding: 1rem 3rem;

}

/* HEADER */
header {
  display: inline-block;
  color: hsl(300, 43%, 22%);
  margin: 7rem 5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

header p {
  color: hsl(303, 10%, 53%);
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 800;
}

/* RATINGS */
.section-ratings {
  margin-top: -22rem;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  border-radius: 5px;
  width: 36%;
  padding: 1.5rem 1rem 1rem;
  margin: 1rem 40rem 0;
}

.section-ratings img {
  float: left;
  margin: 0 0 0 0.75rem;
}

.section-ratings p {
  color: hsl(300, 43%, 22%);
  font-weight: bolder;
  margin: 0 0 0 12rem;
}

.rating-2 {
  margin-left: 43rem;
}

.rating-3 {
  margin-left: 46rem;
  margin-bottom: 7rem;
}

/* TESTIMONIALS */
.section-testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
  background-color: hsl(300, 43%, 22%);
  height: 15rem;
  width: 25rem;
  margin: 3px;
  border-radius: 10px;
}

.testimonial-2 {
  margin-top: 30px;
}

.testimonial-3 {
  margin-top: 60px;
}


.testimonial img {
  border-radius: 50%;
  height: 50px;
  margin: 1rem 2rem;
}

.testimonial span {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  position: absolute;
  margin-top: 1rem;
}

.testimonial h4 {
  color: hsl(333, 80%, 67%);
  font-style: normal;
  margin-left: 7.5rem;
  margin-top: -2.5rem;
}

.testimonial blockquote {
  margin-top: 10px;
  color: white;
  padding: 1rem;
}


/* FOOTER */

footer {
  color: hsl(300, 43%, 22%);
  margin-top: 10px;
}